/* color palette from <https://github.com/vuejs/theme> */

/*
  CSS to make editor take up large middle section
*/
@media only screen and (max-width: 1440px) {
  :root {
    --editor-section-width: 50%;
  }
}

/*
  CSS to make editor take up medium sized middle section
*/
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  :root {
    --editor-section-width: 42%
  }
}

/*
  CSS to make editor take up smaller middle section
*/
@media only screen and (min-width: 1921px) {
  :root {
    --editor-section-width: 34%;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
